//Nextflow config file for running on AWS batch
timeline {
    overwrite = true
}
report {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}

process.executor = 'awsbatch'
process.queue = 'tyler_gp_queue'
aws.region = 'us-west-2'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

process {
    withName: 'STAR_ALIGN' {
        time   = { 24.h * task.attempt }
    }
}

process {
    withName: 'SAMTOOLS_STATS' {
        cpus   = { 2 * task.attempt }
        memory = { 12.GB * task.attempt }
    }
}
