//Nextflow config file for running on AWS batch
params {
    config_profile_description = 'AWSBATCH Cloud Profile'
    awsqueue                   = 'spencer_gp_queue'
    awsregion                  = 'us-west-2'
    awscli                     = '/home/ec2-user/miniconda3/bin/aws'
}

timeline {
    overwrite = true
}
report {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}

process.executor = 'awsbatch'
process.queue = params.awsqueue
aws.region = params.awsregion
aws.batch.cliPath = params.awscli

process {
    withName: 'GUNZIP_GTF' {
        time = '24.h'
    }
}
